@import "typo";
@import "couleurs";


main {
    div {
        input {
            margin-top: 1rem;
        }
        textarea {
            margin-top: 1rem;
        }
    }

    button {
        background-color: $colorBlack;
        color: $colorYellowOne !important;
    }
}



@media screen and (min-width : 845px) {

    h1 {
        margin-top: 2rem;
    }

    #formP1 {
        display: flex;
        flex-direction: row;
        // justify-content: center;


        #inputP1 {
            margin-top: 1rem;
            margin-right: 2rem;
        }

        input {
            width: 30rem;
            height: 3.5rem;
        }
        textarea {
            width: 30rem;
            height: 10rem;
        }
    }

}





